modLoader = "javafml"
loaderVersion = "${loader_version_range}"
license = "${mod_license}"

[[mods]]
 modId = "${mod_id}"
 version = "${version}"
 displayName = "${mod_name}"
 authors = "${mod_authors}"
 description = '''${mod_description}'''
 logoFile = "logo.png"
 displayURL = "https://www.curseforge.com/minecraft/mc-mods/starlight-forge"

 [[dependencies.${mod_id}]]
  modId = "forge"
  mandatory = true
  versionRange = "${forge_version_range}"
  ordering = "NONE"
  side = "BOTH"

[[dependencies.${mod_id}]]
  modId = "minecraft"
  mandatory = true
  versionRange = "${minecraft_version_range}"
  ordering = "NONE"
  side = "BOTH"